<link rel="stylesheet" href="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/doc-pages/assets/css/gitalk.css">
<script src="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/doc-pages/assets/js/gitalk.min.js"></script> 

<div id="gitalk-container"></div>
<script>
    var gitalk = new Gitalk({
        clientID:       '5c4a4805389461265123',
        clientSecret:   'b13a143f197a4e12a8295c256b366d884ec661d8',
        repo:           'course-materials-backup',
        owner:          'Control-and-Engineering',
        admin:          ['0xyMeng'],
        id:             'course-comments',
        language:       'zh-CN',
    });
    gitalk.render('gitalk-container');
</script> 

