<link rel="stylesheet" href="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/assets/css/gitalk.css">
<script src="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/assets/js/gitalk.min.js"></script> 

<div id="gitalk-container"></div>
<script>
    var gitalk = new Gitalk({
        clientID:       '3ac114da5af9d730215f',
        clientSecret:   '155370f60706743bf50adbb3c4c20ef0aa6e11ed',
        repo:           'course-materials-backup',
        owner:          'Control-and-Engineering',
        admin:          ['0xyMeng'],
        id:             'course-comments',
        language:       'zh-CN',
    });
    gitalk.render('gitalk-container');
</script> 


