<link rel="stylesheet" href="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/assets/css/gitalk.css">
<script src="https://xn--9nzo18a.xn--rlr66kq0bdb82ag2i8t7cqge3n1g.cn/assets/js/gitalk.min.js"></script> 

<div id="gitalk-container"></div>
<script>
    var gitalk = new Gitalk({
        clientID:       'ad1c472b31eff60b0fbc',
        clientSecret:   '08b66cb75fe53d82b958a84f49c98d0e6b0e7fbb',
        repo:           'course-materials-backup',
        owner:          'Control-and-Engineering',
        admin:          ['0xyMeng'],
        id:             'course-comments',
        language:       'zh-CN',
    });
    gitalk.render('gitalk-container');
</script> 


